<div id="<%= dom_id word %>">
  <p>
    <strong>Word:</strong>
    <%= word.word %>
  </p>

  <p>
    <strong>Definition:</strong>
    <%= word.definition %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= word.tags %>
  </p>

</div>
